<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Hotels</title>
        <link rel="stylesheet" type="text/css" href="../static/style/bootstrap.min.css" th:href="@{'/style/bootstrap.min.css'}">
        <link rel="stylesheet" type="text/css" href="../static/style/font-awesome.min.css" th:href="@{'/style/font-awesome.min.css'}">
        <link rel="stylesheet" type="text/css" href="../static/style/style.css" th:href="@{'/style/style.css'}">
    </head> 
    <body>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center" id="navigation">
            <div class="col-lg-2 navbar-nav-logo">
                <!-- <a href="">
                    <img class="text-logo" src="images/logo/logotext.png">
                </a> -->
            </div>
            <div class="col-lg-8 navbar-nav-center">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{'/'}">← To the main page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/profile'}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/}">
                            <img class="square-logo"  th:src="@{'images/logo/logo.png'}">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{'/myreservations'}">All Reservations</a>
                    </li>
                </ul>
            </div>
        </nav>

        
        <div class="profile-info container" style="width: 1000px; margin: auto; padding-top: 150px;">
            
            <div class="profile-form row" style="">
                <div class="div-title">
                    <h3>My Reservations</h3>
                </div>
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if = "${param.success!=null}">
                    Reservation deleted successfully!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <table>
                    <tr>
                        <th>
                            Hotel
                        </th>
                        <th>
                            Room Type
                        </th>
                        <th>
                            Check in
                        </th>
                        <th>
                            Check out
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                    <tr th:each = "res : ${reservations}">
                        <td th:text = "${res.hotels.name}"></td>
                        <td th:text = "${res.roomType.name}"></td>
                        <td th:text = "${res.check_in}"></td>
                        <td th:text = "${res.check_out}"></td>
                        <td th:text = "${res.users.full_name}"></td>
                        <td>
                            <form th:action="@{/delete}" th:method="post">
                                <button>
                                    Delete
                                </button>
                                <input type = "hidden" th:value="${res.id}" name = "id">
                            </form>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>

    </body>
    <script type="text/javascript" th:src="@{'/javascript/jquery-2.2.1.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/javascript/bootstrap.bundle.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/javascript/script.js'}"></script>
</html>